In [218]:
from datascience import *
import numpy as np

%matplotlib inline

In [271]:
currencies = ["bitcoin","dogecoin","ethereum","litecoin"]

data = Table().with_columns("Currency"," ","Date"," ","Open",0,"High",0,"Low",0,"Close",0,"Volume",0,"MarketCap",0)
for currency in currencies:
    ctable = Table.read_table(currency + ".csv",  sep = ";")
    ctable.append_column("Currency", np.repeat(currency, ctable.num_rows))
    for col in make_array("Open","High","Low","Close","Volume","MarketCap"):
        ctable = ctable.with_column(col, ctable.column(col).astype(float))
    data.append(ctable)
    
data = data.take(np.arange(1, data.num_rows))
data = data.with_column("Date", data.apply(converter, "Date"))

In [272]:
data.group("Currency", collect = np.mean)

Currency | Date mean | Open mean   | High mean  | Low mean    | Close mean  | Volume mean | MarketCap mean
bitcoin  |           | 879.885     | 906.418    | 856.323     | 884.716     | 2.76377e+08 | 1.36966e+10
dogecoin |           | 0.000498567 | 0.00052873 | 0.000470138 | 0.000499364 | 2.06579e+06 | 4.84554e+07
ethereum |           | 73.3972     | 76.5043    | 70.3745     | 73.8372     | 2.19372e+08 | 6.83108e+09
litecoin |           | 10.787      | 11.2701    | 10.2903     | 10.8254     | 4.31879e+07 | 4.71809e+08

In [273]:
data.group("Currency", collect = min)

Currency | Date min   | Open min | High min | Low min  | Close min | Volume min | MarketCap min
bitcoin  | 01/01/2014 | 68.5     | 74.56    | 65.53    | 68.43     | 0          | 7.79255e+08
dogecoin | 01/01/2014 | 8.7e-05  | 8.9e-05  | 8.5e-05  | 8.7e-05   | 0          | 1.52612e+06
ethereum | 01/01/2016 | 0.431589 | 0.482988 | 0.420897 | 0.434829  | 102128     | 0
litecoin | 01/01/2014 | 1.15     | 1.34     | 1.11     | 1.16      | 0          | 3.79437e+07

In [274]:
holidays = Table.read_table("usholidays.txt", sep = ",", names = make_array("num","Date", "Holiday"))
def converter(date):
    return datetime.datetime.strptime(date,"%d/%m/%Y").strftime('%Y-%m-%d')

In [283]:
joined = data.join("Date", holidays)
joined

Date       | Currency | Open   | High   | Low    | Close  | Volume | MarketCap   | num  | Holiday
2013-05-27 | bitcoin  | 133.5  | 135.47 | 124.7  | 129.75 | 0      | 1.49552e+09 | 14   | Memorial Day
2013-05-27 | litecoin | 3.23   | 3.26   | 3.02   | 3.1    | 0      | 5.81308e+07 | 14   | Memorial Day
2013-07-04 | bitcoin  | 78.89  | 83.11  | 72     | 80.53  | 0      | 8.96693e+08 | 15   | Independence Day
2013-07-04 | litecoin | 2.68   | 2.78   | 2.49   | 2.73   | 0      | 5.1159e+07  | 15   | Independence Day
2013-09-02 | bitcoin  | 138.63 | 146.5  | 134.89 | 135.85 | 0      | 1.6136e+09  | 16   | Labor Day
2013-09-02 | litecoin | 2.57   | 2.74   | 2.54   | 2.56   | 0      | 5.36677e+07 | 16   | Labor Day
2013-10-14 | bitcoin  | 139.27 | 144.12 | 138.9  | 140.52 | 0      | 1.64847e+09 | 17   | Columbus Day
2013-10-14 | litecoin | 2.15   | 2.17   | 2.03   | 2.05   | 0      | 4.74116e+07 | 17   | Columbus Day
2013-11-11 | bitcoin  | 325.41 | 351.27 | 311.78 | 342.44 | 0      | 3.89613e+09 | 18   | Veterans Day
2013-11-11 | litecoin | 3.91   | 4.1    | 3.7    | 4      | 0      | 8.95348e+07 | 18   | Veterans Day
... (142 rows omitted)

While the overall trend for all the cryptocurrencies is positive in terms of their values, Dogecoin and Litecoin are still relatively low in value compared to Bitcoin and Ethereum. We decided to group the data based on holiday, because we wanted to test the affects of the holiday season on the highs and lows of the cyrptocurrency values.

In [2]:
graph1 = joined.plot("Holiday", "High")
graph1

NameError: name 'joined' is not defined

Our hypothesis is that the holidays positively affect and increase the highs because the value of the cryptocurrencies go up because people are in a more positve mood and it changes the market.

Our null hypothesis is that the cryptocurrency markets are not affected by the holidays and the highs do not change. There is no causation.

In [ ]:
graph2 = joined.plot("Holiday", "Low")
graph2

In terms of our predicting problem, we only tested the highs and this can be seen as overally optimistic. We can't generalize the overall cryptocurrency value changes if we don't look at the value as a whole and its fluctuations, rather than the highs alone.

In order to change the statistical problem, we can add another column to the table, to see how the lows are affected along with the holiday dataset. This would give us a better picture of the overall value for cryptocurrency

In [ ]:
graph3 =